NEXT_PUBLIC_PRIVY_APP_ID=<your-privy-app-id>
PRIVY_APP_SECRET=<your-privy-app-secret>
# Session signer ID and secret are only needed for using session signers
# You can create these values in the Privy dashboard as described here https://docs.privy.io/wallets/using-wallets/session-signers/configure-session-signers
NEXT_PUBLIC_SESSION_SIGNER_ID=<your-session-signer-id>
SESSION_SIGNER_SECRET=<your-session-signer-secret>

