:root {
  --pf-background-color: #f9f9f9;
  --pf-image-radius: 0.5rem;
}

html,
body {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: var(--pf-background-color);
}

.pf-page {
    padding: 2rem;
}

.pf-page__container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.pf-page__image {
  max-width: 100px;
  height: auto;
  margin: 0 auto 1.5rem;
  border-radius: var(--pf-image-radius);
}

.pf-page__header {
    margin-bottom: 2rem;
    text-align: center;
}

.pf-page__title {
    font-size: 2rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.pf-page__description {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.pf-page__token code {
  font-size: .75rem;
}

.pf-links__title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.pf-links__grid {
    display: grid;
    gap: 0.75rem;
}

.pf-link-item {
    padding: 0.5rem;
}

.pf-link-item__header {
    display: flex;
    
}