@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* normal */
	body {
		background: radial-gradient(circle at center, #4d4dff, #ff6ad5) fixed no-repeat;
		background-size: cover;
		min-height: 100vh;
		width: 100%;
		margin: 0;
	}

	@font-face {
		font-family: "Adelle Sans";
		src: url("/fonts/AdelleSans-Regular.woff2") format("woff2");
		font-style: normal;
		font-display: swap;
		font-weight: 300;
	}

	/* semibold */
	@font-face {
		font-family: "Adelle Sans";
		src: url("/fonts/AdelleSans-Semibold.woff2") format("woff2");
		font-style: normal;
		font-display: swap;
		font-weight: 600;
	}

	/* .pb-safe {
		padding-bottom: env(safe-area-inset-bottom);
	} */
}
